$background-color: linear-gradient(106.89deg, #050915 -7.89%, #060B1C 106.45%);
$text-color: #fff;
$inactive: #8CC5C3;
$active: #FFB7D9;
$numcols: 12;
$mobile-breakpoint: 650px;
$tablet-breakpoint: 1024px;